@font-face {
  font-family: "Fuse V.2 Display";
  src: url(fonts/FuseV.2Display-Book.woff2) format(truetype);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fuse V.2 Display";
  src: url(fonts/FuseV.2Display-ExtraBold.woff2) format(truetype);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Fuse V.2 Text";
  src: url(fonts/FuseV.2Text-Book.woff2) format(truetype);
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  color: #f5f5f7;
}

body {
  margin: 0;
}

.background {
  background-color: #000000;
  padding-top: 32px;
}

.navigation {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  margin-left: 104px;
  margin-right: 104px;
}

.navigation-logo-box {
  display: flex;
  align-items: center;
  height: fit-content;
}

.navigation-logo-container {
  position: relative;
  padding-left: 3px;
  margin-right: 9px;
}

.navigation-logo-container--small-arrow {
  position: absolute;
  left: 0px;
  top: 12px;
}

.navigation-logo-box--text {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.08em;
  color: #f5f5f7;
  text-decoration: none;
}

.navigation-content-list {
  display: flex;
  list-style: none;
}

.navigation-content-list--content {
  display: block;
  position: relative;
  height: fit-content;
}
.navigation-content-list--content:not(:last-child) {
  margin-right: 48px;
}

.navigation-content-list--link-text {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  background: linear-gradient(
    44.61deg,
    #00b5c1 9.43%,
    #4336b9 41.88%,
    #fa4343 106.56%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: #f5f5f7ff;
  text-align: center;
  transition: color 200ms ease-in-out;
}

.navigation-content-list--link-text:hover {
  color: #f5f5f700;
}

.button-background {
  height: calc(16px + 14px * 2);
  width: fit-content;
  padding: 1px;
  display: flex;
  align-items: center;
  margin-top: -14px;
  background: linear-gradient(
    124.93deg,
    #0d8fd3 5.44%,
    #0b60bb 17.95%,
    #0a3aa7 36.44%,
    #6a387d 69.53%,
    #c53754 105.59%,
    #fa5240 117.57%
  );
}

.button {
  background-color: black;
  padding: 13px 31px 13px 31px;
  border: 1px transparent;
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f5f7;
}

.button:hover {
  background-color: white;
  color: #000000;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.hamburger {
  display: none;
}

.stats {
  display: flex;
  overflow-x: scroll;
  padding-left: 208px;
  padding-right: 150px;
}

.stat-box {
  display: flex;
  flex-direction: column;
}

.stat-box:not(:last-child) {
  margin-right: 80px;
}

.stat-box--large-text {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 800;
  font-size: 122px;
  line-height: 120px;
  letter-spacing: -0.02em;
}

.stat-box--large-text__visitors {
  background: conic-gradient(
    from 90deg at 73.72% 50%,
    #c75593 -157.26deg,
    #6a4293 89.27deg,
    #c75593 202.74deg,
    #6a4293 449.27deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 4px;
}

.stat-box--large-text__partners {
  background: conic-gradient(
    from 114.22deg at 29.17% 50%,
    #694696 -23.56deg,
    #2361a6 107.58deg,
    #c75593 232.77deg,
    #694696 336.44deg,
    #2361a6 467.58deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 4px;
}
.stat-box--large-text__classes {
  background: conic-gradient(
    from 114.22deg at 29.17% 50%,
    #694696 -40.41deg,
    #2361a6 38.26deg,
    #694696 319.59deg,
    #2361a6 398.26deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 4px;
}
.stat-box--large-text__workshops {
  background: conic-gradient(
    from 102.06deg at -7.1% 67.63%,
    #c75593 -1.87deg,
    #2361a6 281.68deg,
    #694696 332.49deg,
    #c75593 358.13deg,
    #2361a6 641.68deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 4px;
}
.stat-box--large-text__panels {
  background: conic-gradient(
    from 82.14deg at 53.24% 50%,
    #694696 -47.23deg,
    #804b73 97.91deg,
    #ab415c 150.01deg,
    #c35493 216.76deg,
    #694696 312.77deg,
    #804b73 457.91deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 4px;
}
.stat-box--large-text__fly-talks {
  background: conic-gradient(
    from 77.41deg at 62.39% 60.9%,
    #694696 -38.75deg,
    #c88f6f 117.45deg,
    #ab415c 221.55deg,
    #804b73 291.42deg,
    #694696 321.25deg,
    #c88f6f 477.45deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 4px;
}

.stat-box--text {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.fesb {
  background-color: #000000;
  position: relative;
}

.fesb--map-img {
  padding-left: 4px;
  padding-right: 1px;
  width: 100%;
}

.fesb-container {
  position: absolute;
}

.fesb-text-box {
  position: absolute;
  z-index: 1;
  left: 204px;
  top: 0;
  bottom: 0;
  width: 402px;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.fesb-text-box--text {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  margin: 0;
}

.fesb-text-box--text__small {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.fesb-text-box--text__big {
  font-weight: 800;
  font-size: 122px;
  line-height: 120px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.fesb-text-box--text__medium {
  font-weight: 800;
  font-size: 54px;
  line-height: 68px;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.fesb-text-box--text__tiny {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.fesb--pin-img {
  position: absolute;
  top: 403px;
  left: 964px;
}

.inovators {
  display: flex;
  justify-content: space-between;
}

.inovators-text-box {
  width: 482px;
  height: fit-content;
  position: sticky;
  margin-top: 96px;
  top: 96px;
}

.speaker-box:not(:last-child) {
  margin-bottom: 32px;
}

.inovators-images-container {
  display: flex;
  width: 696px;
  height: 2110px;
  flex-direction: column;
  flex-wrap: wrap;
}

.inovators-box {
  margin-right: 24px;
}

.inovators--text {
  margin: 0;
  font-family: "Fuse V.2 Display";
  font-style: normal;
}

.inovators--text__header {
  font-weight: 800;
  font-size: 81px;
  line-height: 88px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 32px;
}

.inovators--text__small {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.inovators--text__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #f5f5f7;
  margin-bottom: 6px;
}

.inovators--text__role {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -1px;
  color: #54545f;
  margin-bottom: 10px;
}

.inovators--speaker-img {
  margin-bottom: 12px;
}

.m-t-112px {
  margin-top: 112px;
}

.golden-sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.golden-sponsors--text {
  margin: 0;
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 800;
}

.golden-sponsors--text__title {
  font-size: 122px;
  line-height: 120px;
  letter-spacing: -0.02em;
  color: #f5f5f7;
  margin-bottom: 250px;
}

.golden-sponsors--text__subtitle {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.sponsor-logo-box {
  padding-left: 104px;
  padding-right: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 158px;
}

.sponsors-content-wrapper {
  max-width: 1024px;
  margin: auto;
}

.sponsor-info-container {
  display: flex;
  margin-bottom: 90px;
}

.sponsor-info-text-container--paragraph {
  font-family: "Fuse V.2 Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #e9e9ec;
}

.m-l-40px {
  margin-right: 40px;
}

.testimonials {
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.testimonials--purple-wave-img {
  max-width: 100%;
}

.testimonials--purple-wave-vertical {
  display: none;
}

.luka-img {
  position: absolute;
  bottom: 4px;
  left: 201px;
}

.testimonials-info-box {
  position: absolute;
  left: 721px;
  top: 50px;
  width: 501px;
}

.testimonials-info-box--heading {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 800;
  font-size: 81px;
  line-height: 88px;
  letter-spacing: -0.02em;
  color: #f5f5f7;
  margin-bottom: 24px;
}

.testimonials-info-box--paragraph {
  font-family: "Fuse V.2 Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-container {
  margin-bottom: 125px;
}

.footer--text {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  color: #f5f5f7;
  margin: 0;
}

.footer--text__heading {
  font-weight: 800;
  font-size: 122px;
  line-height: 120px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 49px;
}

.footer--text__small {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 24px;
}

.footer--social-link:not(:last-child) {
  margin-right: 37px;
}

.question-container {
  width: 504px;
}

.question-info-container {
  height: 66px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.question-info-container:not(:first-child) {
  border-bottom: solid 1px #f5f5f71a;
}

.question-info-container:first-child {
  background-color: #f5f5f70d;
}

.footer--text__question {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.question-submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 215px;
}

.footer--text__right {
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  margin-top: 8px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #f5f5f7;
  opacity: 0.1;
}

.footer-bottom {
  padding-left: 208px;
  padding-right: 208px;
  height: 104px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.footer-bottom-box {
  display: flex;
  align-items: center;
}

.footer-bottom-box__right {
  justify-content: flex-end;
}

.footer-bottom--social-img {
  margin-right: 33px;
}

@media screen and (max-width: 1300px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 15px;
  }

  .hamburger > .hamburger--bar {
    width: 100%;
    height: 2px;
    background-color: #f5f5f7;
  }

  .navigation-logo-box--dumpdays {
    display: none;
  }

  .stats {
    flex-direction: column;
  }

  .stat-box {
    align-items: center;
  }

  .stat-box:not(:last-child) {
    margin-right: 0;
  }

  .stat-box--large-text {
    font-size: 54px;
    line-height: 68px;
    margin-bottom: 2px;
  }

  .fesb--pin-img {
    top: 70%;
    left: 90%;
    width: 50px;
  }

  .inovators {
    flex-direction: column;
  }

  .inovators-text-box {
    position: static;
  }

  .sponsor-logo-box {
    display: flex;
    flex-direction: column;
    height: 260px;
  }

  .sponsors-content-wrapper {
    max-width: 327px;
    margin: auto;
  }

  .sponsor-info-container {
    flex-direction: column;
  }

  .sponsor-info-container__center {
    flex-direction: column-reverse;
  }

  .golden-sponsors--text__title {
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 132px;
  }

  .m-l-40px {
    margin-right: 0;
  }

  /* TESTIMONIALS */
  .testimonials {
    display: flex;
    justify-content: center;
    width: fit-content;
  }

  .testimonials--purple-wave-img {
    display: none;
  }

  .testimonials--purple-wave-vertical {
    display: block;
  }

  .testimonials-info-box {
    max-width: 375px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .testimonials-info-box--heading {
    font-size: 54px;
    line-height: 68px;
    letter-spacing: -0.01em;
  }

  .luka-img {
    width: 375px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .footer-bottom{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 237px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 950px) {
  .fesb-text-box{
    max-width:327px;
  }

  .fesb-text-box--text__small {
    font-size: 16px;
    line-height: 16px;
  }

  .fesb-text-box--text__big {
    font-size: 54px;
    line-height: 56px;
    letter-spacing: -0.01em;
  }

  .fesb-text-box--text__medium {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 700px) {
  .m-t-112px {
    margin-top: 0px;
  }

  .inovators {
    width: fit-content;
    margin: auto;
  }

  .inovators-images-container {
    width: 323px;
    height: 2130px;
    margin: auto;
  }

  .inovators--speaker-img {
    width: 156px;
  }

  .m-t-96px {
    margin-top: 96px;
  }
}
